header {
    display: flex;
    background-color: #ff6666;
    border-bottom: 5px solid #3a3a3a;
    padding: 10px 20px;
    justify-content: space-between;
}

img {
    width: 60px;
    height: 60px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-family: "Fira code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #59f4ff;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #59f4ff;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #3a3a3a;
    margin-right: 0;
}

#button:hover {
    box-shadow: 3px 3px 0 #3a3a3a;
    background-color: #84f7ff;
}

#button::before{
    content: "";
    width: 0;
    height: 0;
    margin: 0;
}